<%= form_for [:admin, @scheduled_sale, Spree::ItemScheduledSale.new] do |f| %>
    <tr class="<%= cycle('odd', 'even')%>">
      <td class="no-border">
        <%= item_scheduled_sale.id%>
      </td>
      <td >
        <%= item_scheduled_sale.item.class %>
      </td>
      <td >
        <%= item_scheduled_sale.item.name %>
      </td>
      <td >
        <%= item_scheduled_sale.item.respond_to?(:price) ? item_scheduled_sale.item.price : 'NA' %>
      </td>
      <td>
        <%= item_scheduled_sale.item_calculated_price %>
      </td>
      <td >
        <%= f.text_field :override_price_as_cents %>
      </td>
    </tr>
<% end %>