<fieldset >
  <div class="clearfix">
    <div class="left eight columns alpha" data-hook="admin_scheduled_sale_form_left">
      <%= form_for [:admin, @scheduled_sale, Spree::ScheduledSaleDescription.new], :html => { :id => 'admin_scheduled_sale_description'} do |form| %>
          <%= form.field_container :key do %>
              <%= form.label :key, raw('Key' + content_tag(:span, ' *', :class => 'required')) %>
              <%= form.text_field :key , :class => 'fullwidth' %>
              <%= form.error_message_on :key %>
          <% end %>
          <%= form.field_container :description do %>
              <%= form.label :description, raw('Description '+ content_tag(:span, ' *', :class => 'required')) %>
              <%= form.text_field :description, :class => 'fullwidth' %>
              <%= form.error_message_on :description %>
          <% end %>
          <p class="form-buttons" data-hook="admin_active_sale_form_buttons">
          <div class="form-buttons filter-actions actions" data-hook="buttons">
            <%= button Spree.t('actions.update'), 'icon-refresh' %>
            <span class="or"><%= Spree.t(:or) %></span>
            <%= button_link_to Spree.t('actions.cancel'), collection_url, :icon => 'icon-remove' %>
          </div>
          </p>

      <% end %>
    </div>

  </div>

</fieldset>

